<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css" />
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css" />
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css" />
	<style>
		.v-cloak {
			display: none;
		}
	</style>
</head>

<body>
	<section class="todoapp" id="app" v-cloak>
		<header class="header">
			<h1>todos</h1>
			<!-- 获取文本框的值，就直接通过 v-model 双向绑定数据， 这个数据就代表文本框的值了 -->
			<input class="new-todo" placeholder="What needs to be done?" autofocus v-model.trim="name" @keyup.enter="add" />
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section class="main">
			<input id="toggle-all" class="toggle-all" type="checkbox" />
			<label for="toggle-all">Mark all as complete</label>
			<ul class="todo-list">
				<!--
						completed 表示任务完成的状态
						editing 表示任务处于编辑状态
						:class="{ completed: todo.done, editing: editId === todo.id }"
					-->
				<li v-for="item in list" :key="item.id" :class="{completed:item.done,editing:editId===item.id}">

					<div class="view">
						<input class="toggle" type="checkbox" v-model="item.done" />
						<label @dblclick="editId=item.id" @keyup.enter="editId=-1"> {{item.name}}</label>
						<!-- 传递id： -->
						<!-- <button class="destroy" v-on:click="delTodo(todo.id)"></button> -->
						<!-- 传递索引号： -->
						<button class="destroy" @click="del(item.id)"></button>
					</div>
					<input class="edit" v-model="item.name" @keyup.enter="editId=-1" />
				</li>
			</ul>
		</section>

		<!--
				动态控制 footer 的展示和隐藏

				展示和隐藏的条件：
					1 如果任务列表数组长度为0，就隐藏footer
					2 如果任务列表数组长度大于0，就展示footer
			-->
		<footer class="footer" v-if="have>0">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count">
				<strong>{{num}}</strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" @click="clear" v-if="complated">
				Clear completed
			</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by
			<a href="http://sindresorhus.com">Sindre Sorhus</a>
		</p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by
			<a href="http://todomvc.com">you</a>
		</p>
		<p>Part of
			<a href="http://todomvc.com">TodoMVC</a>
		</p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<!-- 引入vue -->
	<script src="../../lib/vue-2.4.0.js"></script>
	<script src="../../lib/axios/dist/axios.js"></script>
	<script src="js/app.js"></script>
</body>

</html>